# Byte-compiled / cache files
__pycache__
*.py[cod]
.mypy_cache/
.pytest_cache/
*.cover
.coverage
Procfile

# Virtual environments
.venv/
venv/
env/
.venv311/
venv311/

# Flask instance folder (for config/secrets)
instance/

# Environment variables
.env

# VS Code editor settings
.vscode/

# macOS-specific files
.DS_Store
